body{
background-color: rgb(240, 236, 236);
}
.side{
border: gray 1.5px solid; 
}
.side img{
margin-left: 15%; 
width: 60%;
height: 350px;
}
@media screen and (max-width : 500px) {
  .side img{
    margin-left: 8%; 
    width: 80%;
    height: 250px;
    }
}
.side p{
  padding: 0 20px 0 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.side h1{
  padding: 0 20px 5px 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(99, 6, 39);
  font-size: 30px;
  text-align: center;
}
.side h2{
  padding: 0 20px 0 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(99, 6, 39);
  font-size: 30px;
  text-align: center;
}
.side h3{
  padding: 0 20px 0 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(99, 6, 39);
  font-size: 25px;
  text-align: left;
}

nav{
    background-color: #254441;
}
nav ul li{
    padding-left: 10px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.dropdown-menu>a{
    padding-left: 30px;
    text-align: justify;
    display: block;
    color: black;
}
.dropdown-menu>a:hover{
    text-align: center;
    display: block;
    background-color: skyblue;
    color: black;
    text-decoration: none;
}

  nav ul li ul li:hover {padding-left: 5px; padding-right: 5px; background: #000000; }
  nav a:hover { background-color: #000000; }

.home h1{
  text-align: center; 
  color: rgb(8, 62, 83); 
  font-size: 35px; 
  margin: 0;
}  
.home p{
  padding:5px 0; 
  font-family: 'Times New Roman', Times, serif; 
  margin: 0; 
  font-size: 18px;
}
.about{
  overflow: auto;
}
.about img{ 
  float: left;
  margin-left: 5px;
  margin-right: 5px;
 }
 .about p{
   margin-left: 5px;
   padding-right: 5px;
   float: left;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
 }
aside{
    padding-top: 2px;
    width: 100%;
    float: right;
    text-align: justify;
    padding-left: 5px;
    border-left:rgb(100, 98, 98) 2px solid;
  }
  aside p{
    width: 100%;
    height: 110px; 
    border: 2px solid silver;
    overflow: hidden;
  }
  aside p img{
    padding-right: 3px;
    width: 32.5%; 
    height: 109px; 
    float: left; 
    overflow: hidden;
    transition:width 1s, height 1s linear;
  }
  aside a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
  }
  aside p img:hover,aside a:hover aside img {
    width: 130px;
    height: 115px;
    color: black;
  }
  aside a:hover{
    color: darkblue;
  }
  .new{
    margin-top: 5px;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
  }
  .new h3{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
  }
  .new p{
    font-size: 25px;
    margin: auto;
    width: 35%;
    text-align: center;
    animation: glow .5s ease-in-out infinite alternate;
  }
  .new p a{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .leftcol h1, .rightcol h1{
    color: rgb(240, 74, 45);
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 2px 2px 0px 5px;
  }
  .leftcol a, .rightcol a{
    text-align: justify;
    display: block;
    text-decoration: none;
    color: rgb(88, 88, 175);
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding: 2px 2px 2px 30px;
  }
  .rightcol a:hover,.leftcol a:hover{
    padding: auto;
    margin-left: 30px;
    line-height: 35px;
    font-size: 19px;
    width: 90%;
    background-color: rgb(87, 87, 185);
    color: white;
    cursor: pointer;
  }
  .rightcol ul, .leftcol ul{
    margin: 0;
    list-style: none;
  }
  .dropmenu{
    margin-left: 30px;
    font-size: 50px;
  }
  #dropp a{
    font-size: 20px;
    margin: 0 10px 0 0px;
    text-align: left;
    color: black;
    padding: 0 15px 0 5;
  }
  #dropp a:hover{
    padding: auto;
    margin-left: 30px;
    line-height: 30px;
    font-size: 18px;
    width: 87%;
    background-color: rgb(87, 87, 185);
    color: white;
    cursor: pointer;
  }
  .btun {
    background-color: DodgerBlue;
    margin-top: 5px;
    margin-bottom:5px ;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
  }
  .btun:hover {
    background-color: rgb(3, 31, 114);
  }
  .iframefirst{
    margin-top: 5px;
  }
  @media screen and (max-width : 500px) {
    .iframefirst{
      margin-left: 7%;
      width: 85%;
      height: 250px;
    }
    .headd h1{
      color: red;
      font-size: 15px;
    }
  }
  @media all and (max-width : 500px) {
    .iframefirst{
      margin-left: 7%;
      width: 85%;
      height: 250px;
    }
    .navbar-brand{
        width: 90%;
    }
    nav h1{
        color: white;
        text-align: center;
        font-size: 20px;
    }
   .about h4{
     clear: both;
     font-size: 20px;
   }
   .new h3{
     display: none;
   }
   .new{
     margin: auto;
   }
  .new p{
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 0;
        width: 80%;
        clear: both;
      }
  .new p a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        padding: auto;
      }
  .new a:hover{
        color: #d41919;
      }
  .forminfo h1{
        font-size: 20px;
      }
  .contactform h1{
        font-size: 20px;
      }
  }
  
  @-webkit-keyframes glow {
    from {
      box-shadow: 0 0 2px #fff, 0 0 40px #fff, 0 0 60px #007fe6, 0 0 8px #007fe6,0 0 10px #007fe6, 0 0 12px #007fe6, 0 0 14px #007fe6;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #007fe6, 0 0 50px #007fe6, 
      0 0 60px #007fe6, 0 0 70px #007fe6, 0 0 80px #007fe6;
    }
  }
  .new a{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    text-decoration: none;
    font-size: 25px;
    float: none;
    text-align: center;
  }
  .new a:hover{
    color: #d419d4;
  }
  .content-txt{
    
  }
  .content-txt h3 a{
      opacity: 1;
      color: darkblue;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      font-size: 25px;
  }
  .content-txt h3 a:hover{
      color: rgb(30, 30, 206);
      text-decoration: underline;
  }

  /* ******************************************************
	      Related 2Merkato
*********************************************************/

.related {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: #566473;
    text-align: center;
    margin-bottom:0;
    padding:5px 0;
  }
  .col-lt, .col-rt{
   margin: 5px;
  }
  .related p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
  }
  .related a h3 {
    line-height: 30px;
    font-size: 20px;
    margin: 0;
    padding: 5px 5px;
    text-align: left;
    color: #235992;
    font-weight:400;
  }
  .related a {
  border: 1px solid #9db6cf;
  display: inline-block;
  text-align: center;
  margin: 0px 0px;
  padding: 20px;
  text-decoration: none;
  }
  .related a:hover {
  border-color: #566473;
  color: #566473;
  }
  .related a img {
  max-width: 100%;
  opacity: 0.7;
  }
  
  .related a:hover img,
  .related a:active img {
  opacity: 1;
  }
      
  /* ******************************************************
        Related 2Merkato
  *********************************************************/
  .site-footer
{
    margin-top: 10px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
    text-decoration: none;
    color: #f39c12;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: wheat;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}